html, body {
	height: 100%;
}

html {
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
}

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center; /*For IE6 Shenanigans*/
}

/* Space out content a bit */
body {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media ( min-width : 768px) {
	.container {
		/* 		max-width: 730px; */
		/* 		width: 960px; */
		margin: 0 auto;
	}
}

.container-narrow>hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header, .marketing, .footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

/* Navigation */
@media screen and (min-width: 768px) {
	.navigation {
		max-width: 100%;
		width: 100%;
	}
}

.navigation {
	top: 0px;
	position: fixed;
	width: 100%;
	height: 40px;
	margin: 0px 10px 0px 0px;
	border-bottom: 1px solid grey;
	opacity: 1;
	z-index: 9999;
	background-color: white;
	padding-top: 10px;
}

.suggest {
	width: 250px;
	height: 20px;
}

.add {
	float: right;
	margin-right: 10px;
}

/* Tree */
.member {
	border: 1px solid;
	margin: 1px;
	position: absolute;
	width: 150px;
	text-align: center;
	padding: 1px;
	height: 40px;
	overflow: hidden;
}

.tree {
	position: relative;
}

.horizontal-tree {
	float: left;
}

.ancestors {
	color: grey;
}

.descendants {
	color: green;
}

.root {
	color: black
}